@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./fonts/InstrumentSans/font.css");

.fade-in-animation {
  animation-name: FadeIn;
  animation-duration: 500ms;
  transition-timing-function: ease-in-out;
}

iframe {
  overflow: hidden;
  height: 0;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html,
body {
  background: #ffffff;
  background-color: #ffffff;
}

.grecaptcha-badge {
  visibility: hidden !important;
}

.dropdown {
  top: -90px;
  left: 20px;
}

.revealY {
  will-change: transform;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s cubic-bezier(0.21, 1.23, 1, 0.97);
}

.revealY.active {
  transform: translateY(0);
  opacity: 1;
}

.revealXRight {
  will-change: transform;
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s cubic-bezier(0.21, 1.23, 1, 0.97);
}

.revealXRight.active {
  transform: translateX(0);
  opacity: 1;
}

.revealXLeft {
  will-change: transform;
  transform: translateX(150px);
  opacity: 0;
  transition: 1s cubic-bezier(0.21, 1.23, 1, 0.97);
}

.revealXLeft.active {
  transform: translateX(0);
  opacity: 1;
}
